<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logoacad.png">

    <style>
        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>
    <title>Edit Description of Your School</title>
</head>
<body>
    <div>
        <form action="/updateabout/<%= card.id%>" method="post" enctype="multipart/form-data">
          <label for="heading">About Heading</label>
          <input type="text" id="heading" name="heading" placeholder="About Heading" value="<%= card.heading%>">
      
          <label for="lname">About Body</label>
          <input type="text" id="body" name="body" placeholder="About Body" value="<%= card.body%>">

          <div class="form-group">
            <label for="image">Change Image</label>
            <input type="file" name="image" class="form-control">
            <input type="hidden" name="old_image" value="<%= card.image %>">
            <img src="/<%= card.image %>" width="100" class="img-thumbnail mt-1">
          </div>
      
        
          <input type="submit" value="Submit">
        </form>
      </div>
    
</body>
</html>