<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Contact Details</title>
    <link rel="icon" href="/images/logoacad.png">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"> 
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/public/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <style>
        footer {
      display: flex;
      justify-content: space-between;
      background-color: #3688f4;
      color: white;
      padding: 20px;
    }
    
    .footer-column {
      flex-basis: 50%;
      text-align: center;
    }
    
    .footer-column h3 {
      margin-top: 0;
    }
    
    .footer-column a {
      display: block;
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
    }
    
    .footer-column a.active {
      font-weight: bold;
    }
    
    .footer-column a:hover {
      text-decoration: underline;
    }
    
      </style>
  
  </head>


<body>

    <div class="topnav">
        <img src="/images/logoacad.png" style="width:100px;height:90px;">
        <a href="/">Home</a>
        <a href="/about" >About</a>
        <a class="active">Contacts</a>
    </div>

    <div class="services_section layout_padding padding_bottom_0">
        <div class="container">
          <h1 class="blog_text">Contact us</h1>
          <div class="row">


            <% contact.forEach((row) => { %>
            <div class="col-lg-4">
              <div class="call_box">
                <div class="call_image"><img src="images/avatar.png" style="width:200px;height:220px;"></div>
                <h2 class="emergency_text"><%= row.type %></h2>
                <h1 class="call_text"><%= row.details %></h1>
                <h3 class="dolor_text"><%= row.preference %></h3>
              </div>
            </div>
            <% }); %>


    
          </div>
        </div>
      </div>

      <div style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">


        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= googleMapsApiKey %>
        &q=<%= location %>" allowfullscreen>
      </iframe>
      
      
        </div>

        <footer>
          <div class="footer-column">
            <h3>Users</h3>
            <a href="/">Home</a>
            <a href="/about" >About</a>
            <a href="/contacts" class="active">Contacts</a>
          </div>
          <div class="footer-column">
            <h3>Admin</h3>
            <a href="/login">Login</a>
          </div>
        </footer>
        

        <div class="copyright_section">
            <div class="container">
              <p class="copyright">Copyright © 2023. All Rights Reserved. Jimcy Academy</p>
            </div>
          </div>
          <!-- copyright section end -->
          <!-- Javascript files-->
          <script src="/js/jquery.min.js"></script>
          <script src="/js/popper.min.js"></script>
          <script src="/js/bootstrap.bundle.min.js"></script>
          <script src="/js/jquery-3.0.0.min.js"></script>
          <script src="/js/plugin.js"></script>
          <!-- sidebar -->
          <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
          <script src="/js/custom.js"></script>
          <!-- javascript -->
          <script src="/js/owl.carousel.js"></script>
          <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      </div>

</body>

</html>